.rules {
  .container {
    padding: 60px 40px 70px;
    background: #F2F4F7;
    border-radius: 20px;
  }
}

.rules--offset {
  margin-top: 35px;
}

.rules__rent {
  margin-top: 42px;
}

.rules__title {
  font-weight: 600;
  font-size: 28px;
  color: #14233D;
}

.rules__subtitle {
  color: #ABB1C5;
  font-size: 16px;
}

.rules__text {
  font-size: 18px;
  line-height: 140%;
  color: #14233D;
}

.rules__wrapper {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.rules__item {
  width: 360px;
}

.rules__wrapper .rules__item .rules__descr {
  margin-top: 7px;
}

.rules__compensation {
  margin-top: 40px;
}

.rules__compensation .rules__descr {
  margin-top: 22px;
  max-width: 760px;
}
