.subtitle {
	font-weight: 600;
	font-size: 20px;
	color: #14233D;
}

.subtitle-fs16 {
  font-size: 16px;
}

.subtitle-dg {
  color: #ABB1C5;
}

.subtitle-mt60 {
  margin-top: 60px;
}

.subtitle-mt37 {
  margin-top: 37px;
}
