.text {
  color: #14233D;
  margin-bottom: 5px;
  line-height: 140%;
}

.text-white {
  color: #fff;
}

.text-fs18 {
  font-size: 18px;
}

.text-fs20 {
  font-size: 20px;
}

.text-w560 {
  width: 560px;
}

.text-w760 {
  width: 760px;
}

.text-mt30 {
  margin-top: 30px;
}

.text-mb50 {
  margin-bottom: 50px;
}

.text-dg {
  color: #ABB1C5;
}

.text-w600 {
  font-weight: 600;
}


