.footer {
  padding: 55px 0;
  background: #272934;
  .container {
    padding: 0 40px;
  }
}

.footer--offset{
  margin-top: 120px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  &:nth-child(2) {
    align-items: center;
    margin-top: 45px;
  }
}

.footer__categories {
  padding-left: 0;
  margin-top: 26px;
  margin-bottom: 0;
  list-style-type: none;
}

.footer__links {
  display: flex;
  margin-bottom: 0;
  list-style-type: none;
}

.footer__links .footer__item {
  margin-left: 48px;
}

.footer__sublink {
  color: #F2F4F7;
  line-height: 150%;
  &:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.footer__link {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  &:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.footer__text {
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
  line-height: 140%;
}

.footer__list-socials {
  display: flex;
  margin-bottom: 0;
  list-style-type: none;
}

.footer__link-social {
  margin-left: 45px;
}
