.where-to-ride {
  .container {
    padding: 60px 40px 70px;
    background: #F2F4F7;
    border-radius: 20px;
  }
}

.where-to-ride-offset {
  margin-top: 35px;
}

.where-to-ride__main-place {
  margin-top: 37px;
}

.where-to-ride__main-place .where-to-ride__descr {
  margin-top: 7px;
  max-width: 760px;
}

.where-to-ride__wrapper {
  display: flex;
  justify-content: space-between;
}

.where-to-ride__gallery-wrapper {
  margin-top: 20px;
}

.where-to-ride__second-place {
  margin-top: 27px;
}

.where-to-ride__wrapper-offset {
  margin-top: 27px;
}

.where-to-ride__second-place .where-to-ride__descr {
    margin-top: 7px;
    max-width: 560px;
}

.where-to-ride__second-place .where-to-ride__img {
    width: 559px;
    img {
        max-width: 100%;
        height: auto;
        border-radius: 20px;
    }
}

.where-to-ride__other-locations {
    margin-top: 60px;
}

.where-to-ride__other-locations .where-to-ride__wrapper-offset {
    margin-top: 27px;
}

.where-to-ride__other-locations .where-to-ride__wrapper-offset .where-to-ride__item {
    width: 260px;
}

.where-to-ride__other-locations .where-to-ride__wrapper-offset .where-to-ride__item .where-to-ride__img {
    width: 260px;
    img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
}

.where-to-ride__other-locations .where-to-ride__wrapper-offset .where-to-ride__item .where-to-ride__descr {
    margin-top: 30px;
}


