// init

// mixins

// layout

// blocks

@import 'libs/bootstrap-reboot.min';
@import "fonts";

* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.container {
  width: 1240px;
	margin: 0 auto;
}

@import 'pages/blocks/title';
@import 'pages/blocks/subtitle';
@import 'pages/blocks/text';
@import 'pages/blocks/header';
@import 'pages/blocks/footer';
@import 'pages/about-us/about-us';
@import 'pages/about-us/review';
@import 'pages/contacts/contacts';
@import 'pages/where-to-ride/where-to-ride';
@import 'pages/rules/rules';





