.contacts {
  .container {
    padding: 60px 40px 70px;
    background: #F2F4F7;
    border-radius: 20px;
  }
}

.contacts--offset {
    margin-top: 30px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.contacts__information {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.contacts__item {
  margin-bottom: 30px;
}

.contacts__text {
  color: #abb1c5;
  margin-bottom: 10px;
  line-height: 140%;
}

.contacts__information .contacts__tel {
  font-size: 20px;
  font-weight: 600;
  color: #14233D;
  &:hover {
    text-decoration: none;
    color: #14233D;
  }
}

.contacts__email {
  font-size: 18px;
  color: #14233D;
  &:hover {
    text-decoration: none;
    color: #14233D;
  }
}

.contacts__address {
  font-size: 18px;
  color: #14233D;
}

.contacts__form {
  width: 560px;
}

.contacts__question {
  font-weight: 600;
  font-size: 20px;
  color: #14233D;
}

.contacts__form .contacts__feed-form {
  display: flex;
  flex-direction: column;
}

.contacts__form .contacts__feed-form .contacts__name, .contacts__form .contacts__feed-form .contacts__tel {
  font-weight: 500;
  font-size: 18px;
  height: 60px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #DDE3EB;
  color: #737B98;
}

.contacts__form .contacts__feed-form .contacts__name {
  margin-top: 30px;
}

.contacts__form .contacts__feed-form .contacts__custom-checkbox {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: -1;
  opacity: 0;
}

.contacts__form .contacts__feed-form .contacts__custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  &::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #DDE3EB;
    border-radius: 10px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background: #fff;
  }
}

.contacts__form .contacts__feed-form .contacts__custom-checkbox:checked+label::before {
  border-color: #297FFF;
  background-color: #297FFF;
  background-image: url("../icons/checked.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts__checkbox {
  margin-top: 20px;
}

.contacts__data {
  color: #14233D;
  &:hover {
    color: #14233D;
    text-decoration: none;
  }
}

.contacts__btn {
  margin-top: 12px;
  min-height: 60px;
  background: #297FFF;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  color: #fff;
}

.contacts__maps {
  margin-top: 60px;
  width: 100%;
  height: 595px;
  border: none;
  border-radius: 20px;
}

